@font-face {
    font-family: 'Gilroy-Regular', sans-serif;
    src: url(../fonts/gilroy-regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy-Medium', sans-serif;
    src: url(../fonts/gilroy-medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy-SemiBold', sans-serif;
    src: url(../fonts/gilroy-semibold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Gilroy-Bold', sans-serif;
    src: url(../fonts/gilroy-bold.ttf);
    font-weight: 700;
}

html{
    font-family: 'Gilroy', sans-serif;
}

body{
    margin: 0;
}

h1, h4, p{
    margin: 0;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    height: 114px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    gap: 30px;
}

.menu-item{
    color: #000;
    font-size: 14px;
    font-weight: 500;
    padding-right: 30px;
}

.menu-item:hover{
    color: #F25822;
    font-size: 14px;
    font-weight: 500;
}

.intro{
    display: flex;
    justify-content: space-between;
    margin-top: 97px;
}

.title{
    color: #000;
    font-size: 60px;
    font-weight: 700;
    line-height: normal;
}

.intro-txt{
    color: #888;
    font-size: 20px;
    font-weight: 500;
    line-height: normal; 
    padding-top: 17px;
}

.intro-links{
    width: 374px;
    margin-top: 37px;
    margin-left: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 72px;
}

.start-btn{
    width: 140px;
    height: 50px; 
    border: none;
    border-radius: 50px;
    background: #F25822; 
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    line-height: normal; 
}

.video-link{
    color: #AAA;
    font-size: 15px;
    font-weight: 700;
    line-height: normal;
}

.intro-img{
    width: 610.735px;
    height: 372.904px;
}

.brand-logo{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 260px;
}

.brand-logo-img{
    width: 160px;
    height: 50px; 
}

.features{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}

.item{
    width: 381px;
}

.item:hover{
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.item-icon{
    padding-top: 40px;
    padding-left: 30px;
}

.item-subtitle{
    padding-top: 25px;
    padding-left: 29px;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}

.item-txt{
    padding-top: 17px;
    padding-left: 29px;
    color: #666;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.item-link{
    display: inline-block;
    padding-top: 25px;
    padding-left: 29px;
    padding-bottom: 25px;
    color: #000;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.benefits{
    margin-top: 192px;
}

.benefits-title{
    color: #000;
    font-size: 45px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding-bottom: 20px;
}

.benefits-txt{
    color: #666;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 682px;
    margin-left: auto;
    margin-right: auto;
}

.content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 55px;
}

.content-desc{
    display: flex;
    flex-direction: column;
    padding: 25px 30px 50px;
}

.content-title{
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.content-txt{
    color: #AAA;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 22px;
}

.content-btn{
    margin: 39px auto 0;
    width: 150px;
    height: 50px; 
    border: none;
    border-radius: 50px;
    background: #F25822; 
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    line-height: 150%;
}